<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Training</title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script>
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function($scope) {
            $scope.tableHeaders = [{'slNo': 'slNO', 'name':'Name', 'age':'Age', 'gender':'Gender', 'action': 'Action'}]
            $scope.details = []
            $scope.add = function(){
                $scope.details.push({'name': $scope.name, 'age': $scope.age, 'gender': $scope.gender})
            };
            $scope.remove = function(index){
                $scope.details.splice(index, 1)
            };
        });
    </script>
</head>
<body>
<div data-ng-app="myApp" data-ng-controller="myCtrl">
<p>
    Name: <input type="text" data-ng-model="name" required><br>
    Age: <input type="text" data-ng-model="age" data-ng-change="counter()" required><br>
    Gender: <input type="radio" data-ng-model="gender" value="male" checked> Male
    <input type="radio" data-ng-model="gender" value="female"> Female<br>
    <button data-ng-click="add()">Add</button>

</p>
    <p>
    <table>
    <thead>
        <tr data-ng-repeat="c in tableHeaders">
             <th> {{ c.slNo }} </th>
             <th> {{ c.name }} </th>
             <th> {{ c.age }} </th>
             <th> {{ c.gender }} </th>
             <th> {{ c.action }} </th>
        </tr>
        </thead>
        <tr data-ng-repeat="x in details">
            <td> {{ $index }}</td>
            <td> {{ x.name }}</td>
            <td> {{ x.age }}</td>
            <td> {{ x.gender }}</td>
            <td> <button data-ng-click="remove($index)">Remove</button></td>
        </tr>
    </table>
    </p>
    </div>
</body>
</html>